[roadrunner]
ref = "v2024.3.5"

[debug]
enabled = false

[log]
level = "info"
mode = "production"

[github.token]
token = "${RT_TOKEN}"

[gitlab.token]
token = "${GL_TOKEN}"

[gitlab.endpoint]
endpoint = "https://gitlab.com"

[github.plugins.appLogger]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "app-logger"

[github.plugins.logger]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "logger"

[github.plugins.lock]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "lock"

[github.plugins.rpc]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "rpc"

[github.plugins.centrifuge]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "centrifuge"

[github.plugins.temporal]
ref = "v5.5.2"
owner = "temporalio"
repository = "roadrunner-temporal"

[github.plugins.metrics]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "metrics"

[github.plugins.otel]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "otel"

[github.plugins.http]
ref = "v5.2.5"
owner = "roadrunner-server"
repository = "http"

[github.plugins.gzip]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "gzip"

[github.plugins.prometheus]
ref = "v5.1.5"
owner = "roadrunner-server"
repository = "prometheus"

[github.plugins.headers]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "headers"

[github.plugins.static]
ref = "v5.1.4"
owner = "roadrunner-server"
repository = "static"

[github.plugins.proxy]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "proxy_ip_parser"

[github.plugins.send]
ref = "v5.1.3"
owner = "roadrunner-server"
repository = "send"

[github.plugins.server]
ref = "v5.2.7"
owner = "roadrunner-server"
repository = "server"

[github.plugins.service]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "service"

[github.plugins.jobs]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "jobs"

[github.plugins.amqp]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "amqp"

[github.plugins.sqs]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "sqs"

[github.plugins.beanstalk]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "beanstalk"

[github.plugins.nats]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "nats"

[github.plugins.kafka]
ref = "v5.2.2"
owner = "roadrunner-server"
repository = "kafka"

[github.plugins.googlepubsub]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "google-pub-sub"

[github.plugins.kv]
ref = "v5.2.6"
owner = "roadrunner-server"
repository = "kv"

[github.plugins.boltdb]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "boltdb"

[github.plugins.memory]
ref = "v5.2.6"
owner = "roadrunner-server"
repository = "memory"

[github.plugins.redis]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "redis"

[github.plugins.memcached]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "memcached"

[github.plugins.fileserver]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "fileserver"

[github.plugins.grpc]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "grpc"

[github.plugins.status]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "status"

[github.plugins.tcp]
ref = "v5.1.6"
owner = "roadrunner-server"
repository = "tcp"

[gitlab.plugins.test_plugin_1]
ref = "main"
owner = "rustatian"
repository = "36405203"
